@import "styles/theme.scss";

.success-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 22px;
  max-width: 566px;

  .--light-without-opacity {
    line-height: 1.5;
  }

  .copy-to-clipborad-container {
    display: flex;
    align-items: center;

    .controller-label {
      font-size: 1.4rem;
      color: $gray_color;
      margin-right: 14px;
    }

    .custom-input-style {
      height: 37px;
      width: 180px;
      font-size: 1.6rem;

      .MuiInputBase-root {
        height: inherit;
        pointer-events: visible;
        background: #f5f5f5;
        border-radius: 4px;

        &::before {
          border-bottom-style: none;
        }

        .MuiInputBase-input {
          padding: 0 12px;
          color: $blue_color;
        }

        > svg {
          cursor: pointer;

          &:hover {
            fill: $blue_color;
          }
        }
      }
    }
  }
}
