$primary_color: #e24307;
$primary_light_color: #ffe6e2;
$blue_color: #4287f5;
$black_color: #000000;
$white_color: #ffffff;
$gray_color: #262626;
$separator_inverse_color: #f1a183;
$border_color: #e6e6e6;
$light_gray_color: #fcfcfc;
$error_color: #ab0000;
$error_light_color: #fee5e5;
$success_color: #1a910c;
$success_light_color: #e7f4e6;

$text0_size: 4.5rem;
$text1_size: 2rem;
$text2_size: 1.6rem;
$text3_size: 1.4rem;

$default_border: 1px solid $border_color;
