.MuiCheckbox-root {
  &.custom-checkbox-style {
    color: $border_color;

    .MuiSvgIcon-root {
      width: 22px;
      height: 22px;
    }

    &.--blue {
      &.Mui-checked {
        color: $blue_color;
      }
    }
  }
}
