@mixin grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 22px;
}

.launch-transit-azure-grid {
  @include grid;
  max-width: 566px;

  .text-block {
    margin-bottom: 1rem;
    .paragraph {
      margin-top: 1rem;
    }
  }

  .btn-group {
    margin-bottom: 0.5rem;

    .custom-button-style {
      &:nth-of-type(2) {
        margin-left: 15px;
      }
    }
  }

  .form-fields {
    @include grid;

    .btn-submit {
      &:last-child {
        margin-top: 0.5rem;
      }
    }
  }
}
